extends layout

block content
  
  style.
    h1 {
      text-align: left;
      display: inline-block;
      margin-right: 20px;
    }
        hr{
      border:2px solid black;
    }


    .new-user-button {
      display: inline-block;
      margin:20px;
      vertical-align: middle;
      float: right; 
      padding: 10px 20px; 
      background-color: #f51474;
      color: white; 
      border: 1px; 
      border-radius: 5px; 
      cursor: pointer;
      text-decoration: none; 
      transition: background-color 0.3s ease; 
    
      
      &:hover {
        background-color: blue;
      }
    }

  h1#user-list User List

  
  a.new-user-button(href='/add') New User

  
  style.
    table.w3-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 12px;
      text-align: left;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    td a {
      color: #3498db;
      text-decoration: none;
    }

    td a:hover {
      text-decoration: underline;
    }
  
  hr
  // Table for dispay saved users
  table.w3-table
    tr
      th First Name
      th Last Name
      th Date of Birth
      th Address 1
      th Address 2
      th City
      th Postal Code
      th Country
      th Phone Number
      th Email
      th User Notes
      th Actions

    each user in users
      tr
        td= user.firstName
        td= user.lastName
        td= user.dob
        td= user.address1
        td= user.address2
        td= user.city
        td= user.postalCode
        td= user.country
        td= user.phoneNumber
        td= user.email
        td= user.userNotes

        
        td
          a(href=`/update/${user._id}`) Edit
          | &nbsp; 
          a(href=`/delete/${user._id}`) Delete
